<div class="overlay"></div>

<div class="row testimonials-header">
    <div class="col-full">
        <h1 class="h02">İnsanlar Benim İçin Ne Dediler</h1>
    </div>
</div>

<div class="row testimonials">

    <div class="col-full testimonials__slider">

        <div class="testimonials__slide">
            <img src="~/hola-master/images/avatars/user-01.jpg" alt="Author image" class="testimonials__avatar">
            <p>
                Özenli ve dikkatli çalışmalarıyla tanınan, işine büyük bir titizlikle yaklaşan biri. Her detayına önem veren ve sessiz, sakin bir şekilde görevini yerine getiren bir insan.
            </p>
            <div class="testimonials__author h06">
                Şeyda Tat 
                <span>Computer Engineering</span>
            </div>
        </div>

        <div class="testimonials__slide">
            <img src="~/hola-master/images/avatars/user-02.jpg" alt="Author image" class="testimonials__avatar">
            <p>
                Görevlerine olan bağlılığı ve dikkatli yaklaşımı, her işin kaliteli ve titiz bir şekilde tamamlanmasını sağlar.
            </p>
            <div class="testimonials__author h06">
                Zeynep Atçeken 
                <span>Computer Engineering</span>
            </div>
        </div>
    </div> 
</div>     
</div> 