<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Portfolyo</h3>
            <h1>Sertifikalarım Göz Atabilirsiniz </h1>

            <p class="lead">Aşağıda, eğitim ve gelişim sürecimde kazandığım sertifikalar yer almaktadır. Bu sertifikalar, alanında uzman kişilerden aldığım eğitimlerin ve geliştirdiğim yetkinliklerin bir göstergesidir. Sürekli öğrenme ve kendimi geliştirme hedefim doğrultusunda, en güncel teknolojiler ve yöntemlerle kendimi donatmaya özen gösteriyorum.</p>
        </div>
    </div>

    <div class="row g-3">
        <div class="masonry">

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="~/hola-master/images/portfolio/gallery/g-beetle.jpg" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                            <img src="~/hola-master/images/portfolio/beetle.jpg"
                                 srcset="~/hola-master/images/portfolio/beetle.jpg 1x, ~/hola-master/images/portfolio/beetle@2x.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            SQL ile Veritabanı Sorgulama
                        </h3>
                        <p class="item-folio__cat">
                           İLİŞKİSEL VERİTABANLARINDA SORGULAMA 201
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <div class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </div>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="~/hola-master/images/portfolio/gallery/g-lighthouse.jpg" class="thumb-link" title="Lighthouse" data-size="1050x700">
                            <img src="/hola-master/images/portfolio/lighthouse.jpg"
                                 srcset="/hola-master/images/portfolio/lighthouse.jpg 1x, /hola-master/images/portfolio/lighthouse@2x.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Web Programlama
                        </h3>
                        <p class="item-folio__cat">
                            301: JavaScript
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <div class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </div>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->

            <div class="masonry__brick">
                <div class="item-folio">
                    <div class="item-folio__thumb">
                        <a href="/hola-master/images/portfolio/gallery/g-woodcraft.jpg" class="thumb-link" data-size="1050x700">
                            <img src="/hola-master/images/portfolio/woodcraft.jpg"
                                 srcset="/hola-master/images/portfolio/woodcraft.jpg 1x, /hola-master/images/portfolio/woodcraft@2x.jpg 2x" alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            C# ile Algoritma ve Programlama
                        </h3>
                        <p class="item-folio__cat">
                            C# ile Algoritma ve Programlama
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                    </span>

                </div> <!-- end item-folio -->
            </div> <!-- end masonry__brick -->           </div> 

</section> 